configuration {
        modi: "window,run,ssh,drun";
        width: 50;
        lines: 15;
        columns: 1;
        font: "mono 12";
        bw: 0;
        location: 0;
        padding: 10;
/*      yoffset: 0;*/
/*      xoffset: 0;*/
        hide-scrollbar: true;
        display-drun: ">";
        levenshtein-sort: true;
        color-normal: "#242424, #FFFFFF, #242424, #FFffff, #242424";
        color-window: "#242424, #242424, #242424";
        fixed-num-lines: true;
}
