.round-pannel-a {
    background-color: #181818;
    border-radius: 8px;
    padding: .1rem;
    font-size: 1.5em;
    margin: .3rem;
}

.profile {
    background-image: url("./scripts/profile.png");
    border-radius: 10px;
    background-repeat: no-repeat;
    padding: .0rem;
    margin: .3rem;
    background-position: center;
    background-size: cover;
    min-height: 140px;
    min-width:  140px;
  }
  
  .big-buttons {
    font-size: 3rem;
    background-color: $a1;
    color: $c4;
    border-radius: 8px;
    padding: 1rem 2.4rem 1rem 2.4rem;
    margin: .3rem;
  }
  
  .timer-radial {
    color: $c3;
    background-color: $a1;
  }
  .timer-radial-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 3em;
    padding: 2rem;
  }